body {
  font-family: Helvetica;
  line-height: 1.15;
  font-size: 1em;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navImg {
  height: 32px;
  width: 230px;
  background-color: black;
  margin-left: 24px;
}

.headerNav {
  display: flex;
  padding-right: 24px;
}

#h-p1 {
  padding-right: 16px;
}

#h-p2 {
  padding-right: 16px;
}

#h-p3 {
  padding-right: 16px;
}

.section1 {
  height: 545px;
  display: flex;
  align-items: center;
  background-color: lightgrey;
}

.sec1Img {
  height: 481px;
  margin: 32px 24px;
  background-color: black;
  flex-basis: 60%;
}

.sec1Text {
  margin-right: 100px;
  margin-left: 30px;
  flex-basis: 25%;
}

.sec1Text h1 {
  font-weight: bolder;
  font-size: 2.5em;
  font-stretch: ultra-expanded;
}

.sec1Text p {
  font-size: 1.5em;
}

.sec1Text button {
  display: flex;
  font-size: 12px;
  color: white;
  background-color: black;
  padding: 15px 40%;
  align-items: center;
}
