body {
  font-family: Helvetica;
  line-height: 1.15;
  font-size: 1em;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navImg {
  height: 32px;
  width: 230px;
  background-color: black;
  margin-left: 24px;
}

.headerNav {
  display: flex;
  padding-right: 24px;
}

#h-p1 {
  padding-right: 16px;
}

#h-p2 {
  padding-right: 16px;
}

#h-p3 {
  padding-right: 16px;
}

.section1 {
  height: 545px;
  display: flex;
  align-items: center;
}

.sec1Img {
  height: 481px;
  margin: 32px 24px;
  background-color: black;
  flex-basis: 60%;
}
